@font-face {
    font-family: Saans;
    src: url("Saans-Medium.woff2");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(255, 250, 250);
    background-color: rgb(30, 30, 30);
}

.ui_element {
    font-family: "Saans";
    position: absolute;
    margin: .8em;
    background: rgb(30, 30, 30);
    cursor: default;
    border-radius: 1em;
    /* filter: blur(.1em); */
}

.ui_element,
.ui_element > * {
    font-size: max(18px, 2vw);
}

.ui_element > * {
    font-weight: normal;
    padding: .3em .6em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.pf {
    top: 0;
    left: 0;
}

.umprum {
    bottom: 0;
    right: 0;
}

.newcolors {
    right: 0;
    top: 2.5em;
    cursor: pointer;
}

.download {
    top: 0;
    right: 0;
    cursor: pointer;
}

#prani_parent {
    max-width: 50%;
    top: 10em;
    left: 0;
    position: absolute;

    display: flex;
}

.lang {
    top: 5em;
    right: 0;
}

#prani_handle {
    z-index: 2;
    position: static;
    padding-right: 0;
    height: 1em;
}

svg,
svg > path {
    fill: rgb(255, 250, 250);
    height: 1em;
    position: static;
}


#prani:focus {
    outline: none;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,
a:visited,
a:hover,
a:focus {
    color: rgb(255, 250, 250);
    text-decoration: none;
}

@keyframes reload_rotation {
    100% {
        rotate: 360deg
    }
}

.reload_rotation_animation,
.pf:hover {
    animation: reload_rotation .5s forwards ease;
}

.lang_rotation_to_en {
    animation: lang_rotation_to_en .5s forwards ease;
}

.lang_rotation_to_cz {
    animation: lang_rotation_to_cz .5s forwards ease;
}

@keyframes lang_rotation_to_en {
    0% {
        rotate: 180deg
    }

    100% {
        rotate: 0deg
    }
}

@keyframes lang_rotation_to_cz {
    100% {
        rotate: 180deg;
    }
}

.lang_en {
    rotate: 0deg;
}

.lang_cz {
    rotate: 180deg;
}