@font-face {
    font-family: Saans;
    src: url("SaansTRIAL-SemiBold.woff2");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(255, 250, 250);
}

h1 {
    font-family: "Saans";
    position: absolute;
    padding: .2em .4em;
    margin: .5em;
    font-size: 2.5vw;
    background: rgb(30, 30, 30);
    cursor: default;
    font-weight: normal;


    border-radius: 50px;
    box-shadow: 0 0 .08em .05em rgb(30, 30, 30);
}

#pf {
    top: 0;
    left: 0;
}

#umprum {
    bottom: 0;
    right: 0;
}

#download {
    top: 0;
    right: 0;
    cursor: pointer;
}

#prani {
    top: 0em;
    left: 5em;
    cursor: grab;
}

#changeColor {
    top: 2em;
    right: 0;
    cursor: pointer;
}

.outline {
    border: 2px solid white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}